.card {
    padding: 3rem;
    // background-color: #000207;
    background-color: #051124;
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    &__icon {
        // background-color: #08122b;
        background-color: #02091a;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            height: 50%;
            width: 50%;
            fill: $primary-text;

            path {
                fill: $primary-text;
            }
        }
    }

    &__title {
        font-family: $primary-font;
        font-size: 1.7rem;
        color: $primary-text;
        text-transform: uppercase;
    }

    &__technologies {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        &-technology {
            font-size: 1.5rem;
            font-family: $primary-font-light;
            color: $secondary-text;
        }
    }
}